.countryContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: 2rem auto;
    padding: 1rem;
    gap: 1rem;
}

.countryContainer > li > a {
    display: block;
    width: 120px;
    padding: 1rem;
    border: 1px solid grey;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease all;
}

.countryContainer > li > a:hover {
    background-color: gainsboro;
}